<!doctype html>
<html>
<head>
	<title>Home Page</title>
</head>
<header></header>
<body>
<h1> All Tasks: </h1>
	<ul th:each =" task : ${tasks}">
		<li th:text="${task.title + ' - ' + task.content}"> </li>
		<a  th:href="@{/tasks/delete/{id}(id=${task.id})}">delete</a>
		<a  th:href="@{/tasks/edit/{id}(id=${task.id})}">edit</a>
		
	</ul>
<h1> Create New Task:</h1>
<form action="#" th:action="@{/tasks/save}" th:object="${task}" method="post">
	<label>Title:</label>
	<input type="text" th:field="*{title}" /> 
	<label>Content:</label>
	<input type="text" th:field="*{content}" /> 
	<input type="submit" value="Submit" />
</form>
</body>
<footer></footer>
</html>